@media screen and (min-width: 601px) {
  #navigation {
    padding-top: 3%;
    justify-content: space-between;
    font-size: 100%;
    border-bottom-style: solid;
    border-bottom-color: rgba(166, 182, 255, 0.938);
    border-bottom-width: thick;
  }

  .nav a:hover {
    color: rgba(166, 182, 255, 0.596);
  }

  #teachersLink {
    margin-left: auto;
  }

  a:link {
    text-decoration: none;
    padding: 1%;
  }

  .backButton {
    width: 2em;
  }

  .backButton:active {
    color: red;
  }

  .welcomeBody {
    text-align: center;
    margin: 6%;
  }

  #offcanvasNavbar {
    background-color: #131a26;
  }

  #courseCreator {
    color: white;
    margin-left: 9%;
  }

  .offcanvas-header {
    color: white;
    padding-bottom: 0rem;
    margin-left: 5%;
  }

  #offcanvasBody {
    padding: 0%;
    padding-top: 7%;
  }

  #offcanvasNavbarDropdown {
    display: flex;
    color: white;
    padding: 2%;
    padding-left: 5%;
  }
  #offcanvasNavbarDropdown[aria-expanded="true"] {
    background-color: rgba(166, 182, 255, 0.938);
  }

  .dropdown-menu.show {
    padding: 0%;
    background-color: #131a26;
  }

  #classIndex {
    padding-right: 5%;
  }

  #timeStamp {
    margin-left: auto;
  }

  #logoutLink {
    margin-left: auto;
  }

  a#offcanvasNavbarDropdown.dropdown-toggle.nav-link::after {
    margin-left: 3%;
    margin-top: 3%;
  }

  #playItem {
    padding-left: 2%;
    font-size: 90%;
    color: rgba(19, 129, 255, 0.808);
    display: flex;
    justify-content: left;
    padding-bottom: 2%;
  }

  .playButton {
    margin-right: 0.7em;
  }

  #playItem:hover {
    background-color: rgb(166, 183, 250);
  }

  #timeStampDrop {
    margin-left: auto;
    padding-right: 3%;
  }

  .nav-item.dropdown {
    border-bottom: 2px solid rgb(166, 182, 255);
  }

  .nav-item.dropdown:hover {
    background-color: rgba(166, 182, 255, 0.596);
  }

  .btn-close {
    color: white;
  }

  #toc {
    padding-top: 5%;
    padding-left: 9%;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline rgb(166, 182, 255) 30%;
    text-underline-offset: 100%;
  }

  h6 {
    margin: 2%;
  }

  .videoCard {
    width: 29%;
  }

  .card {
    margin: 2%;
  }

  .form {
    justify-content: end;
  }
}

@media screen and (max-width: 600px) {
  #navigation {
    padding-top: 3%;
    justify-content: space-between;
    font-size: 100%;
    border-bottom-style: solid;
    border-bottom-color: rgba(166, 182, 255, 0.938);
    border-bottom-width: thick;
  }

  a {
    font-size: 90%;
    size: 10%;
    text-overflow: ellipsis;
  }

  .card-title.h5 {
    font-size: 110%;
    margin: auto;
  }

  .card-text {
    font-size: 70%;
  }

  #showVideos {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #teachersLink {
    margin-left: auto;
  }

  a:link {
    text-decoration: none;
    padding: 1%;
  }

  .backButton {
    width: 2em;
  }

  .backButton:active {
    color: red;
  }

  .welcomeBody {
    font-size: 80%;
    text-align: center;
    margin: 10%;
  }

  .navbar-toggler {
    font-size: 0.7rem !important;
  }

  #offcanvasNavbar {
    background-color: #131a26;
  }

  #courseCreator {
    color: white;
    margin-left: 9%;
  }

  .offcanvas-header {
    color: white;
    padding-bottom: 0rem;
    margin-left: 5%;
  }

  #offcanvasBody {
    padding: 0%;
    padding-top: 7%;
  }

  #offcanvasNavbarDropdown {
    display: flex;
    color: white;
    padding: 2%;
    padding-left: 5%;
  }
  #offcanvasNavbarDropdown[aria-expanded="true"] {
    background-color: rgba(166, 182, 255, 0.938);
  }

  a#offcanvasNavbarDropdown.dropdown-toggle.nav-link::after {
    margin-left: 3%;
    margin-top: 3%;
  }

  .offcanvas-end.show {
    width: 60%;
  }

  .dropdown-menu.show {
    padding: 0%;
    background-color: #131a26;
  }

  #classIndex {
    padding-right: 5%;
  }

  #timeStamp {
    margin-left: auto;
  }

  #logoutLink {
    margin-left: auto;
  }

  #playItem {
    padding-left: 2%;
    font-size: 90%;
    color: rgba(19, 129, 255, 0.808);
    display: flex;
    justify-content: left;
    padding-bottom: 2%;
  }

  .playButton {
    margin-right: 0.7em;
  }

  #playItem:hover {
    background-color: rgb(166, 183, 250);
  }

  #timeStampDrop {
    margin-left: auto;
    padding-right: 3%;
  }

  .nav-item.dropdown {
    border-bottom: 2px solid rgb(166, 182, 255);
  }

  .nav-item.dropdown:hover {
    background-color: rgba(166, 182, 255, 0.596);
  }

  .btn-close {
    color: white;
  }

  #toc {
    padding-top: 5%;
    padding-left: 9%;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline rgb(166, 182, 255) 30%;
    text-underline-offset: 100%;
  }

  h6 {
    margin: 2%;
  }

  .videoCard {
    width: 29%;
  }

  .card {
    margin: 2%;
  }

  .form {
    justify-content: end;
  }
}
