.nav {
  justify-content: space-between;
}

a:link {
  text-decoration: none;
  padding: 1%
}

.welcomeBody {
  text-align: center;
  margin: 10%;
}

h6 {
  margin: 2%;
}

.videoCard {
  width: 29%;
}

.card {
  flex-direction: row;
  margin: 2%;
}

.form {
  justify-content: end;
}